<footer class="page-footer teal ighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">skillUp is a resource to help aid in skill development through projects. Use the project challenges as a springboard into your personal learning and self-improvement journey!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
            <li><a class="grey-text text-lighten-3" href="/register">Register</a></li>
            <li><a class="grey-text text-lighten-3" href="/">Dashboard</a></li>
            <li><a class="grey-text text-lighten-3" href="/challenge">Web Development</a></li>
            <li><a class="grey-text text-lighten-3" href="/gdchallenge">Graphic Design</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Leah Jorgensen
      </div>
    </div>
  </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>