<nav>
    <div class="nav-wrapper teal ligthen-2">
      <a href="/" class="brand-logo"><img src="/images/SkillUP-white.png" alt="SkillUp" id="nav-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Dashboard</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>