<!DOCTYPE html>
<html>
<head>
    <title>SkillUP!</title>
</head>
<body>
    <h1>Challenges</h1>
    <h3>Practice and hone your skills through projects.</h3>

    <ul>
        <% for (let i = 0; i < challenges.length; i++){ %>
            <li><a href="/challenge/<%=challenges[i].id%>"><%= challenges[i].name %></a></li>
        <% } %>
    </ul>
</body>
</html>