<!DOCTYPE html>
<html>
<head>
    <title>SkillUP!</title>
</head>
<body>
    <div id="cirlce-splash">
        <h1>SkillUP!</h1>
        <h3>Improve skills through practice.</h3>
    </div>
    <div id="login">
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <label for="username">User Name: </label>
            <input type="text" name="username" required> <br><br>

            <label for="password">Password:</label>
            <input type="password" name="password" required> <br><br>
        
        <input type="submit" value="Log In">
        </form>
        <a href="/login/register">Register</a>
    </div>
</body>
</html>