<!DOCTYPE html>
<html>
<head>
    <title>SkillUP!</title>
</head>
<body>
    <div id="cirlce-splash">
        <h1>SkillUP!</h1>
        <h3>Improve skills through practice.</h3>
    </div>
    <div id="login">
        <h2>Log In</h2>
        <% if (messages.error) {
            messages.error
        }
        %>
        <form action="/users/login" method="POST">
            <label for="email">Email: </label>
            <input type="email" name="email" placeholder="Enter Email" required> <br><br>

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter Password" required> <br><br>
        
        <input type="submit" value="Login">
        </form>
        <a href="/users/register">Register</a>
    </div>
</body>
</html>