<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        <div class="container">
        <h1>Create New Challenge</h1>
        <form action="/challenge" method="POST">
            <label for="name">Name of Challenge:</label>
            <input type="text" name="name" required> <br><br>

            <label for="description">Brief Description of Challenge:</label>
            <input type="text" name="description"> <br><br>

            <label for="challenge">Challenge Details:</label>
            <input type="text" name="challenge" required> <br><br>
        
            <button class="waves-effect waves-light btn-large" type="submit">Create Challenge</button><br><br>
        <a href="/challenge">Return to Challenges</a>
    </div>
    <br>
    </main>

<%- include('./partials/footer.ejs') %>