<!DOCTYPE html>
<html>
<head>
    <title>SkillUP!</title>
</head>
<body>
    <h1>Create New Challenge</h1>
    <form action="/challenge" method="POST">
        <label for="name">Name of Challenge:</label>
        <input type="text" name="name" required="true"> <br><br>

        <label for="decription">Brief Description of Challenge:</label>
        <input type="text" name="decription"> <br><br>

        <label for="challenge">Challenge Details:</label>
        <input type="text" name="challenge" required="true"> <br><br>

        <label for="skill">Challenge Category:</label>
        <input type="text" name="skill" required="true"> <br><br>
    
    <input type="submit" value="Create Challenge">
    </form>
</body>
</html>