<!DOCTYPE html>
<%- include('./partials/header.ejs') %>
<body>
    <h1>Create New Challenge</h1>
    <form action="/challenge" method="POST">
        <label for="name">Name of Challenge:</label>
        <input type="text" name="name" required> <br><br>

        <label for="description">Brief Description of Challenge:</label>
        <input type="text" name="description"> <br><br>

        <label for="challenge">Challenge Details:</label>
        <input type="text" name="challenge" required> <br><br>

        <label for="skill">Challenge Category:</label>
        <input type="text" name="skill" required> <br><br>
    
    <input type="submit" value="Create Challenge">
    </form>
    <a href="/challenge">Return to Challenges</a>
    
    <%- include('./partials/footer.ejs') %>