html, body {
    min-height: 100%;
}
#landing-body{
    background-image: url('../images/background-01.jpg');
    background-color: white;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#circle-splash{
    width: 50%;

}
#login-logo {
    width: 45%;
}
#nav-logo {
    width: 11.5%;
    margin-top: 6px;
    margin-left: 10px;
}