html, body {
    min-height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#landing-body{
    background-image: url('../images/background-01.jpg');
    background-color: white;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

#circle-splash{
    background-color: goldenrod;
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
#login-logo {
    width: 45%;
}
#nav-logo {
    width: 11.5%;
    margin-top: 6px;
    margin-left: 5%;
}